/* General Styles */
.background-customizable {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
  }
  
  /* Logo */
  .logo-customizable {
    max-width: 60%;
    max-height: 30%;
    margin: 0 auto;
    display: block;
  }
  
  /* Banner */
  .banner-customizable {
    padding: 25px 0;
    background-color: lightgray;
    text-align: center;
  }
  
  /* Labels */
  .label-customizable {
    font-weight: 600; /* Bold for better visibility */
    margin-bottom: 5px;
  }
  
  /* Text Descriptions */
  .textDescription-customizable,
  .idpDescription-customizable {
    padding: 10px 0;
    display: block;
    font-size: 16px;
    text-align: center; /* Centered text for a more cohesive look */
  }
  
  /* Legal Text */
  .legalText-customizable {
    color: #747474;
    font-size: 11px;
    text-align: center; /* Centered legal text */
  }
  
  /* Buttons */
  .submitButton-customizable,
  .idpButton-customizable,
  .socialButton-customizable {
    height: 40px;
    width: 100%;
    margin-bottom: 15px;
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 5px; /* Rounded corners for buttons */
  }
  
  .submitButton-customizable {
    font-size: 14px;
    font-weight: bold;
    margin: 20px 0 10px 0;
    background-color: #337ab7;
  }
  
  .submitButton-customizable:hover {
    background-color: #286090;
  }
  
  .idpButton-customizable {
    background-color: #5bc0de;
    border-color: #46b8da;
  }
  
  .idpButton-customizable:hover {
    background-color: #31b0d5;
  }
  
  /* Input Fields */
  .inputField-customizable {
    width: 100%;
    height: 40px; /* Increased height for easier access */
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px; /* Slightly rounded corners for input fields */
    padding: 8px; /* Padding for better text visibility */
  }
  
  .inputField-customizable:focus {
    border-color: #66afe9;
    outline: none; /* Remove default outline */
  }
  
  /* Error Messages */
  .errorMessage-customizable {
    padding: 10px;
    font-size: 14px;
    width: 100%;
    background: #F5F5F5;
    border: 2px solid #D64958;
    color: #D64958;
    margin-top: 10px; /* Space above the error message */
    border-radius: 5px; /* Rounded corners for error messages */
  }
  
  /* Password Check */
  .passwordCheck-notValid-customizable {
    color: #DF3312;
  }
  
  .passwordCheck-valid-customizable {
    color: #19BF00;
  }
  
  /* Redirect Links */
  .redirect-customizable {
    text-align: center;
    margin-top: 10px; /* Space above the redirect section */
  }
  